.about-me {
  &__description {
    background-color: #b1aaaa;
    font-size: medium;
  }

  .picture {
    background-color: var(--Picture-BG);
    padding: 16px;
    position: relative;
    padding-bottom: 48px;
    border: double 2px lightblue;
    z-index: -1;
    &__img {
      max-width: 100%;
      border-radius: 24px;
    }
    &__footer {
      margin-top: 12px;
      margin-right: 12px;
      display: flex;
      flex-direction: row-reverse;
      border: dashed 2px red;
      padding: 2px 8px 2px 2px;
      width: 165px;
      position: absolute;
      right: 20px;
      color: #000;
    }
  }

  &__title {
    color: var(--Title);
  }
}
