.articles {
  &__heading {
    color: #9fc830;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      display: inline-block;
      background-color: var(--light-mode-Nav);
      height: 4px;
      width: 100px;
      margin-right: 16px;
    }
    &::after {
      content: "";
      display: inline-block;
      background-color: var(--light-mode-Nav);
      height: 4px;
      width: 100px;
      margin-left: 16px;
    }
  }
  &__img {
    height: 600px;
    width: auto;
  }
}

.article {
  border: 1px solid rgb(180, 70, 70);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  &__description {
    &::before {
      content: "";
      display: inline-block;
      background-color: var(--light-mode-Nav);
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
    &::after {
      display: inline-block;
      background-color: #b1aaaa;
      content: "";
      height: 8px;
      width: 8px;
    }
  }
  &__title {
    color: var(--light-mode-Title);
    margin: 0;
  }
}
