@keyframes button {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.buttons {
  border: darkcyan dashed 2px;
  background-color: var(--Heading);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    text-shadow: 1px 1px 2px gray;
  }
  &__div {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
  }
  &__button {
    min-width: 210px;
    width: 100%;
    margin: 0 24px;
    border-radius: 4px;
    background-color: var(--Nav);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__01 {
    transition: all 0.2s ease;
    &:focus {
      //animation: circle-anim 0.3s ease forwards;
      transition: all 0.4s ease;
      background-color: green;
    }
  }
  &__02 {
    // display: inline-block;
    //animation: button 1s ease-in infinite;
    animation-name: button;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: 3;
    animation-timing-function: cubic-bezier(0.36, -1.18, 0.65, 1.85);
    &:hover {
      animation-play-state: paused;
    }
  }
  &__03 {
    overflow: hidden;
    background-color: hsl(10, 100%, 50%);
    border: none;
    font-size: 2.3em;
    color: white;
    font-family: "Montserrat";
    border-bottom: 7px solid hsl(10, 100%, 50%);
    padding-top: 5px;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 400%;
      background-color: hsl(10, 100%, 40%);
      z-index: -1;
      top: 0;
      right: -100%;
      transition: transform 0.8s ease-out;
      will-change: transform;
    }
    &:hover:after {
      transform: translateX(-100%);
    }
    &:hover ~ .buttons__box {
      transform: scale(1);
    }
  }
  &__box {
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 10%);
    position: absolute;
    transform: scale(0);
    transition: transform 1s ease-in-out;
  }
}
