.navigation {
  padding: 16px;
  display: none;
  &__link {
    color: var(--Nav-Link);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px;
    transition: opacity 1s ease-in-out 0, 2s;
    &:hover {
      transform: translate(5px, 5px);
      color: #41cbee;
    }
    @media screen and (min-width: 768px) {
      margin-right: 16px;
      display: inline-block;
    }
  }
  &--js {
    display: block;
    border-radius: 2px;
    margin: 10px 0 10px 0px;
    padding: 10px 15px 10px 15px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
    margin: 10px 0 10px 0px;
    padding: 10px 16px 10px 16px;
  }
}

.menu-button {
  background: none;
  text-decoration: none;
  border: none;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.dark-mode {
  background: none;
  text-decoration: none;
  border: none;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10px;
  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    right: 10px;
    left: auto;
  }
}

.hidden--js {
  display: none;
}
