@import "~normalize.css";

@import "_variables";
@import "modules/navigation.scss";
@import "modules/about-me.scss";
@import "modules/articles.scss";
@import "modules/dark-mode.scss";

:root {
  --dark-mode-BG: ;
  --dark-mode-Nav: ;
  --dark-mode-Font: ;
  --dark-mode-Border: ;
  --dark-mode-Heading: ;
  --dark-mode-Footer: ;

  --light-mode-BG: rgb(131, 58, 180);
  --light-mode-Nav: #fefefe;
  --light-mode-Font: ;
  --light-mode-Border: ;
  --light-mode-Heading: #7a3b69;
  --light-mode-Title: #1460aa;
  --light-mode-Footer: #dab785;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--light-mode-BG);
  background: linear-gradient(
    0deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.main {
  margin: 60px auto 0;
  max-width: 1000px;
  padding: 0 8px;
  &__heading {
    color: var(--light-mode-Heading);
  }
  @media screen and (min-width: 768px) {
    margin: 90px auto 0;
  }
}

.footer {
  background-color: var(--light-mode-Footer);
  margin: 8px auto 0;
  width: 100%;
  display: inline-block;
}

.grid {
  display: inline;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}

.header {
  background: var(--light-mode-Nav);
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.introduction {
  &__description {
    background-color: #b1aaaa;
    font-size: medium;
  }
  &__title {
    color: var(--light-mode-Title);
  }
}

.menu-button {
  background: none;
  text-decoration: none;
  border: none;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
