@import "~normalize.css";

@import "_variables";
@import "modules/navigation.scss";
@import "modules/about-me.scss";
@import "modules/articles.scss";
@import "modules/dark-mode.scss";

:root {
  --BG: rgb(131, 58, 180);
  --gr: linear-gradient(
    0deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --Nav: #fefefe;
  --Nav-Link: #db8056;
  --Font: #000000;
  --Heading: #7a3b69;
  --Title: #41cbee;
  --Footer: #dab785;
  --Picture-BG: #fefefe;
}

// ciemny motyw ponizej  wrocic do tego i ogarnac to we wszystkich plikach css

[data-theme="dark"] {
  --BG: #424242;
  --Nav: #616161;
  --Nav-Link: #e0e0e0;
  --Font: #fafafa;
  --Heading: #9e9e9e;
  --Title: #bdbdbd;
  --Footer: #212121;
}

html {
  box-sizing: border-box;
  color: var(--Font);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--BG);
  background: var(--gr);
}

.main {
  margin: 60px auto 0;
  max-width: 1000px;
  padding: 0 8px;
  &__heading {
    color: var(--Heading);
  }
  @media screen and (min-width: 768px) {
    margin: 90px auto 0;
  }
}

.footer {
  background-color: var(--Footer);
  margin: 8px auto 0;
  width: 100%;
  display: inline-block;
}

.grid {
  display: inline;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}

.header {
  background: var(--Nav);
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid black;
}

.introduction {
  &__description {
    background-color: #b1aaaa;
    font-size: medium;
  }
  &__title {
    color: var(--Title);
  }
}
